<div class="chat-box">
  <div v-show="activeConversation !== null">
    <v-toolbar>
      <v-btn icon class="hidden-xs-only" @click="closeActiveConversation">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-toolbar-title @click="clickContactDetails()" v-if="activeConversation">
        {{ activeConversation.contact.name }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon class="hidden-xs-only">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-toolbar>

    <v-container fluid class="pt-0">
      <v-row class="by1 size-conversation px-0 z-index-1" id="message-box" :class="{ 'bg-white': chatConfig.darkMode === undefined || chatConfig.darkMode === false, 
      'dark-theme': chatConfig.darkMode === true,
      'dark-border': chatConfig.darkMode === true}">
        <v-col>
          <v-container fluid class="px-0">
            <v-row class="text-center" v-if="activeConversation && activeConversation.oldConversation.noResult !== true">
              <v-col>
                <intersect @enter="autoLoadOldMessages()" v-if="showAutoloading">
                  <v-btn class="ma-2" outlined color="teal">
                    <font-awesome-icon icon="sync" class="icon-medium text-primary" spin></font-awesome-icon>
                  </v-btn>
                </intersect>
                <v-btn class="ma-2" outlined color="teal" v-if="showAutoloading === false">
                  <font-awesome-icon icon="sync" class="icon-medium text-primary" spin></font-awesome-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-row v-if="activeConversation && activeConversation.oldConversation.noResult === true">
              <v-col><strong>{{ $t('chatbox.oldMessagesLimit') }}</strong></v-col>
            </v-row>
            <v-row v-if="activeConversation && activeConversation.list.length !== 0">
              <v-col>
                <div id="newMessages" v-for="(message, key) in activeConversation.list" :key="key" class="px-0">
                  <v-container fluid v-if="message.ownMessage">
                    <v-row>
                      <v-col sm="10">
                        <div class="p1 message-style float-right">
                          <p class="m0">
                            <span v-html="parseMessage(message.msg)"></span>
                          </p>
                        </div>
                      </v-col>
                      <v-col sm="2">
                        <v-avatar>
                          <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" />
                        </v-avatar>
                      </v-col>
                    </v-row>
                  </v-container>

                  <v-container fluid v-if="message.ownMessage === false">
                    <v-row>
                      <v-col sm="2">
                        <v-avatar>
                          <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" />
                        </v-avatar>
                      </v-col>
                      <v-col sm="10">
                        <div class="float-left p1 m1 b-rounded message-style" :class="{ 'bg-light-gray': chatConfig.darkMode === undefined || chatConfig.darkMode === false, 'bg-dark-light': chatConfig.darkMode === true }" v-if="message.ownMessage === false">
                          <p class="m0">
                            <span v-html="parseMessage(message.msg)"></span>
                          </p>
                        </div>
                      </v-col>
                    </v-row>
                  </v-container>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid>
      <v-row>
        <v-col sm="1" class="pr-0">
          <v-btn x-small color="#22497a" fab dark>
            <v-icon>mdi-access-point</v-icon>
          </v-btn>
        </v-col>
        <v-col sm="9">
          <cool-textarea :content.sync="chatBoxForm.message" ref="coolTextarea" @enterKey="submitMessage()" @sendTypingSignal="sendTypingSignal()" @contentChanged="chatboxContentChanged"></cool-textarea>
        </v-col>
        <v-col sm="2">
          <v-btn fab x-small icon class="hidden-xs-only" :disabled="isDisconnected" :loading="isSendingMessage" @click="submitMessage()">
            <v-icon>mdi-emoticon-excited</v-icon>
          </v-btn>
          <v-btn fab x-small icon class="hidden-xs-only">
            <v-icon>mdi-plus-circle-outline</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <div v-show="activeConversation === null">
    <el-row class="text-center mt7">
      <img src="svg-emoji/pensive-emoji.svg" height="180px" width="180px" alt="Pensive Face" v-if="chatboxEmoji === 'pensive'" />
      <img src="svg-emoji/thinking-emoji.svg" height="180px" width="180px" alt="Thinking Face" v-if="chatboxEmoji === 'thinking'" />
      <img src="svg-emoji/happy-emoji.svg" height="180px" width="180px" alt="Thinking Face" v-if="chatboxEmoji === 'happy'" />
      <img src="svg-emoji/confused-emoji.svg" height="180px" width="180px" alt="Confused Face" v-if="chatboxEmoji === 'confused'" />
    </el-row>
    <el-row class="text-center text-bold text-big mt6">
      <span>{{ $t('chat.noOpenConversation') }} </span>
    </el-row>
    <el-row class="text-center text-bold text-big">
      <span>{{ $t('chat.tipNewConversation') }}
        <font-awesome-icon icon="comment" class="icon-medium"
      /></span>
    </el-row>
  </div>
  <contact-details class="z-index-3" :activeContact="activeContact" :showContactDetails="showContactDetails" @closeContactDetails="closeContactDetails"></contact-details>
</div>